services:
  node_app:
    build: ./node_app
    container_name: node_app
    working_dir: /app
    volumes:
      - ./uploads_data:/uploads
    ports:
      - "8000:8000"
    environment:
      - OPENAI_API_KEY=${OPENAI_API_KEY}
    depends_on:
      - rabbitmq
      - qdrant
      - docling_worker
    networks:
      - chatwithdocs-network

  docling_worker:
    build: ./docling_worker
    container_name: docling_worker
    working_dir: /app
    volumes:
      - ./uploads_data:/uploads
    depends_on:
      - rabbitmq
    networks:
      - chatwithdocs-network

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "15672:15672"
      - "5672:5672"
    networks:
      - chatwithdocs-network

  qdrant:
    image: qdrant/qdrant:v1.15.3
    container_name: qdrant
    ports:
      - "6333:6333"
    volumes:
      - qdrant_data:/qdrant/storage
    networks:
      - chatwithdocs-network

  nextjs:
    build: ./nextjs
    container_name: nextjs
    working_dir: /app
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_BASE=${NEXT_PUBLIC_API_BASE}
    depends_on:
      - node_app
    networks:
      - chatwithdocs-network

networks:
  chatwithdocs-network:

volumes:
  # uploads_data:
  qdrant_data:
